.full-width {
  width: 100%;
}
mat-dialog-content {
  position: relative;

  mat-progress-bar {
    position: absolute;
    top: -24px;
    left: -24px;
    right: -24px;
    top: -24px;
    width: calc(100% - 48px);
  }
}
